

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Example</title>
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Irish+Grover&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/userOptions.css">
</head>

<body>
  <div class="container-1">
    <h1>Welcome  <% if (title) { %>
        <%= title %>
        <% } %></h1>
  </div>

  <div class="rules">
    <h2>Instructions:</h2>
    <br>
    <p>1. <b>Select the number of questions:</b><br>
    You must choose between 3 to 20 questions.</p>
    <br>

    <p>2. <b>Set the time limit per question:</b><br>
    Choose a time limit between 3 and 50 seconds for each question.</p>
    <br>
  </div>

  <!-- It takes a min of 3 question and max of 20 question. It takes min of 3 second and 50 max second -->
  <form method="post" action="/auth/login/submit/userOptions">
    <label for="num-questions">How many questions</label>
    <input type="number" id="num-questions" name="num_questions" min="3" max="20" placeholder="Enter between 3 to 20" required>

    <label for="time-limit">Set time limit for each question (in seconds)</label>
    <input type="number" id="time-limit" name="time_limit" min="3" max="50" placeholder="Enter time between 3 and 50" required>

    <input type="submit" value="Submit">
  </form>

  <script>

  </script>
  
</body>
</html>
